.container{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 10vh;
    background-color: #E60965;
}
.align-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.branding{
    font-size: 20px;
    color: white;
    padding-left: 40px;
    font-weight: 700;
    letter-spacing: 2px;
}
.searchbar{
    width:80%;
    height: 5vh;
    border-radius: 3px;
    border: none;
    padding-left: 10px;
    outline: none;
}